* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    height: 100vh;
    position: relative;
}

.flexbox {
    display: flex;
}

/* CUSTOM PROPERTIES -------*/
:root {
    --player-height: 100px;
    --header-height: 80px;
    --slidebar-width: 200px;
    --slidebar-footer-height: 10%;
}
/* /CUSTOM PROPERTIES ------- */


/* HEADER */

.header {
    width: calc(100% - var(--slidebar-width));
    height: var(--header-height);
    position: absolute;
    top: 0;
    right: 0;
    left: var(--slidebar-width);

    /* DEBUG */
    background-color: rgba(0, 0, 0, .2);
}

/* /HEADER */


/* MAIN */

/* content */

/* slidebar */

.slidebar {
    width: var(--slidebar-width);
    height: calc(100vh - var(--player-height));
    z-index: 999;
    flex-direction: column;

    /* DEBUG */
    background-color: gray;
}

.slidebar .logo {
    height: var(--header-height);
    line-height: var(--header-height);
    align-items: center;
    justify-content: center;
}

.slidebar .logo img {
    width: 80%;
} 

.bar {
    overflow: auto;
    color: white;
    height: calc(100% - var(--header-height) - var(--slidebar-footer-height));
}

.slidebar-footer {
    color: white;
    height: var(--slidebar-footer-height);
    flex-direction: column;
    justify-content: flex-end;
}

/* /slidebar */



/* main-content */

.main-content {
    width: calc(100% - var(--slidebar-width));
    height: calc(100vh - var(--player-height));
    overflow: auto;
    padding-top: var(--header-height);

    /* DEBUG */
    background-color: brown;
}

/* main-content */

/* /content */


/* player */

.player {
    width: 100%;
    height: var(--player-height);
    justify-content: space-between;

    /* DEBUG */
    background-color: gray;
}

.player-left {
    width: 20%;
    height: 100%;

    /* DEBUG */
    background-color: blueviolet;
    border: 2px solid black;
}

.player-right {
    width: 20%;
    height: 100%;

    /* DEBUG */
    background-color: blueviolet;
    border: 2px solid black;
}

.player-mid {
    width: 50%;
    height: 100%;

    /* DEBUG */
    background-color: blueviolet;
    border: 2px solid black;
}

/* /player */

/* /MAIN */